{
  "prepare": [
    "@semantic-release/npm",
    {
      "//": "build the linux, macos, and windows binaries",
      "path": "@semantic-release/exec",
      "cmd": "npm run build && npx --yes pkg . --compress Brotli -t node18-linux-x64,node18-macos-x64,node18-win-x64"
    },
    {
      "//": "shasum linux binaries",
      "path": "@semantic-release/exec",
      "cmd": "cat binary-releases/snyk-broker-config-linux | npx hasha-cli -a sha256 > binary-releases/snyk-broker-config-linux.sha256"
    },
    {
      "//": "shasum macos binaries",
      "path": "@semantic-release/exec",
      "cmd": "cat binary-releases/snyk-broker-config-macos | npx hasha-cli -a sha256 > binary-releases/snyk-broker-config-macos.sha256"
    },
    {
      "//": "shasum windows binaries",
      "path": "@semantic-release/exec",
      "cmd": "cat binary-releases/snyk-broker-config-win.exe | npx hasha-cli -a sha256 > binary-releases/snyk-broker-config-win.exe.sha256"
    },
    {
      "//": "generate Cyclone DX JSON SBOM",
      "path": "@semantic-release/exec",
      "cmd": "mkdir -p sboms && npx snyk sbom --format cyclonedx1.4+json > sboms/snyk-broker-config.sbom.cyclonedx.json"
    },
    {
      "//": "generate Cyclone DX XML SBOM",
      "path": "@semantic-release/exec",
      "cmd": "mkdir -p sboms && npx snyk sbom --format cyclonedx1.4+xml > sboms/snyk-broker-config.sbom.cyclonedx.xml"
    },
    {
      "//": "generate SPDX SBOM",
      "path": "@semantic-release/exec",
      "cmd": "mkdir -p sboms && npx snyk sbom --format spdx2.3+json > sboms/snyk-broker-config.sbom.spdx.json"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "binary-releases/snyk-broker-config-linux",
          "name": "snyk-broker-config-linux",
          "label": "snyk-broker-config-linux"
        },
        {
          "path": "binary-releases/snyk-broker-config-linux.sha256",
          "name": "snyk-broker-config-linux.sha256",
          "label": "snyk-broker-config-linux.sha256"
        },
        {
          "path": "binary-releases/snyk-broker-config-macos",
          "name": "snyk-broker-config-macos",
          "label": "snyk-broker-config-macos"
        },
        {
          "path": "binary-releases/snyk-broker-config-macos.sha256",
          "name": "snyk-broker-config-macos.sha256",
          "label": "snyk-broker-config-macos.sha256"
        },
        {
          "path": "binary-releases/snyk-broker-config-win.exe",
          "name": "snyk-broker-config-win.exe",
          "label": "snyk-broker-config-win.exe"
        },
        {
          "path": "binary-releases/snyk-broker-config-win.exe.sha256",
          "name": "snyk-broker-config-win.exe.sha256",
          "label": "snyk-broker-config-win.exe.sha256"
        },
        {
          "path": "sboms/snyk-broker-config.sbom.cyclonedx.json",
          "name": "snyk-broker-config.sbom.cyclonedx.json",
          "label": "snyk-broker-config.sbom.cyclonedx.json"
        },
        {
          "path": "sboms/snyk-broker-config.sbom.cyclonedx.xml",
          "name": "snyk-broker-config.sbom.cyclonedx.xml",
          "label": "snyk-broker-config.sbom.cyclonedx.xml"
        },
        {
          "path": "sboms/snyk-broker-config.sbom.spdx.json",
          "name": "snyk-broker-config.sbom.spdx.json",
          "label": "snyk-broker-config.sbom.spdx.json"
        }
      ]
    }
  ],
  "branches": ["master"]
}